@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: 'Jost' !important;
}

.ant-form-item-has-error .anticon-close-circle svg {
  display: none;
}

.ant-form-item-has-error .anticon-close-circle::before {
  content: ' ';
  display: inline-block;
  background: #fff url('/assets/icons/error-icon.svg') center / 24px 24px no-repeat;
  width: 24px;
  height: 24px;
}

// styles.scss

// Gaya untuk baris yang diperluas
.ant-table-row-expanded {
  position: relative;
  background-color: #f9f9f9; /* Warna latar belakang untuk baris yang diperluas */

  &::before {
    content: '';
    position: absolute;
    left: -20px; /* Posisi dari kiri untuk garis siku-siku */
    top: 50%; /* Vertikal tengah */
    width: 20px; /* Lebar untuk efek siku-siku */
    height: 20px; /* Tinggi untuk efek siku-siku */
    border-left: 2px solid #000; /* Garis vertikal */
    border-bottom: 2px solid #000; /* Garis horizontal */
    transform: translateY(-50%) rotate(45deg); /* Mentransformasi posisi dan rotasi */
    z-index: 1; /* Pastikan berada di atas */
  }
}

// Gaya untuk baris utama
.ant-table-row {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: -20px; /* Posisi dari kiri untuk menghubungkan ke baris sub */
    top: 100%; /* Untuk menghubungkan ke baris sub */
    width: 20px; /* Lebar untuk membuat efek garis */
    height: 15px; /* Tinggi garis horizontal */
    border-left: 2px solid #000; /* Garis vertikal */
    border-bottom: 2px solid #000; /* Garis horizontal untuk menghubungkan */
    z-index: 1; /* Pastikan berada di atas */
  }
}

// Pastikan header tabel memiliki latar belakang putih
.ant-table-header {
  background-color: white !important; /* Set background color to white for header */
}

.ant-table-header .ant-table-cell {
  background-color: white !important; /* Ensure all header cells have white background */
  color: black; /* Optional: set text color */
}

/* Add this CSS to your stylesheet */
.ant-table-row-expand-icon-cell {
  background-color: #ffffff !important;
}
