.custom-modal .ant-modal-header {
  background-color: #d1d5db !important;
}

.custom-modal .ant-modal-title {
  color: #1f2937 !important;
}

.custom-modal .ant-modal-body {
  background-color: #ffffff !important;
}

.custom-modal .ant-modal-content {
  border-radius: 8px;
}

.ant-menu-submenu-title .ant-menu-submenu-arrow {
  display: none;
}
