.ant-table td,
.ant-table th {
  border: none !important;
}

.ant-table table {
  border: none !important;
}

.module-row {
  border-top: 1px solid #e0e0e0; // Garis atas untuk membatasi modul yang berbeda
  padding: 8px; // Padding agar tidak terlalu rapat
  background-color: #f9f9f9; // Warna latar belakang yang lembut (opsional)
}

.module-row:first-child {
  border-top: none; // Tidak ada garis atas untuk baris pertama
}

.table-row {
  &:nth-child(2n) .module-row {
    background-color: #f1f1f1; // Alternatif warna latar belakang untuk keterbacaan
  }
}
